<%= require 'pry' %>

 <html>
  <head></head>
  <body>
    <p>
      The number is: <%= if n == g || c == "true"
        n
      else
        "Keep guessing!"
      end %>
    </p>
    <p>
      Your guess is: <%= g %>.
      You've made <%= t %> guesses.
    </p>
    <p>
      <%= m %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!'/>
    </form>
  </body>
</html>
